<header class="header-animate">
  <div class="brand">
    <div class="logo-shape"></div>
    <h1>Finance <span>Manager</span></h1>
  </div>
  <div class="user-profile">
    <div class="lang-switch">
      <button (click)="switchLanguage('pt')" class="lang-btn">PT</button>
      <span class="divider">|</span>
      <button (click)="switchLanguage('en')" class="lang-btn">EN</button>
    </div>

    <div class="user-info">
      <span class="name">Estagiário Dev</span>
      <span class="role">Admin</span>
    </div>
    <div class="avatar">EB</div>
  </div>
</header>
