<div class="modal-overlay" (click)="onCancel()">
  <div class="modal-glass" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h3>Nova Movimentação</h3>
      <button class="close-btn" (click)="onCancel()">×</button>
    </div>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

      <div class="big-input-container">
        <span class="currency">R$</span>
        <input
          type="number"
          formControlName="value"
          placeholder="0.00"
          class="big-value-input"
          autocomplete="off"
        >
      </div>
      <div class="center-error" *ngIf="transactionForm.get('value')?.invalid && transactionForm.get('value')?.touched">
        Insira um valor válido
      </div>

      <div class="type-selector">
        <label class="type-option" [class.selected]="transactionForm.get('type')?.value === 'income'">
          <input type="radio" formControlName="type" value="income" hidden>
          <div class="icon income">↓</div>
          <span>Entrada</span>
        </label>

        <label class="type-option" [class.selected]="transactionForm.get('type')?.value === 'expense'">
          <input type="radio" formControlName="type" value="expense" hidden>
          <div class="icon expense">↑</div>
          <span>Saída</span>
        </label>
      </div>

      <div class="details-grid">
        <div class="input-group">
          <label>Descrição</label>
          <input type="text" formControlName="label" placeholder="Ex: Pagamento AWS">
        </div>

        <div class="input-group">
          <label>Data</label>
          <input type="text" formControlName="date" placeholder="DD/MM/AAAA">
        </div>
      </div>

      <button type="submit" class="btn-save-glow" [disabled]="transactionForm.invalid">
        Confirmar Transação
      </button>

    </form>
  </div>
</div>
