<div class="dashboard-wrapper" #contentWrapper>

  <header class="header-animate">
    <div class="brand">
      <div class="logo-shape"></div>
      <h1>Finance <span>Manager</span></h1>
    </div>
    <div class="user-profile">
      <div class="lang-switch">
        <button (click)="switchLanguage('pt')" class="lang-btn">PT</button>
        <span class="divider">|</span>
        <button (click)="switchLanguage('en')" class="lang-btn">EN</button>
      </div>

      <div class="user-info">
        <span class="name">Estagiário Dev</span>
        <span class="role">Admin</span>
      </div>
      <div class="avatar">EB</div>
    </div>
  </header>

  <main>
    <div class="page-title header-animate">
      <h2>{{ 'DASHBOARD.TITLE' | translate }}</h2>
      <p>{{ 'DASHBOARD.DESCRIPTION' | translate }}</p>
    </div>

    <div class="cards-grid">
      <div class="card card-animate balance">
        <span class="label">{{ 'DASHBOARD.BALANCE' | translate }}</span>
        <strong class="value">R$ 14.250,00</strong>
      </div>

      <div class="card card-animate income">
        <span class="label">{{ 'DASHBOARD.INCOME' | translate }}</span>
        <strong class="value">+ R$ 5.850,00</strong>
      </div>

      <div class="card card-animate expense">
        <span class="label">{{ 'DASHBOARD.EXPENSE' | translate }}</span>
        <strong class="value">- R$ 4.179,90</strong>
      </div>
    </div>

    <section class="transactions-section">
      <h3>{{ 'DASHBOARD.LAST_TRANSACTIONS' | translate }}</h3>

      <div class="transactions-list">

        <div *ngIf="isLoading" class="loading-state" style="padding: 2rem; text-align: center; color: #64748B;">
          A carregar dados de forma segura...
        </div>

        <ng-container *ngIf="!isLoading">
          <div *ngFor="let item of transactions" class="transaction-item list-item">
            <div class="icon" [class.expense]="item.type === 'expense'">
              {{ item.type === 'expense' ? '↓' : '↑' }}
            </div>

            <div class="details">
              <span class="desc">{{ item.label }}</span>
              <span class="date">{{ item.date }}</span>
            </div>

            <div class="amount" [class.expense]="item.type === 'expense'">
              {{ item.type === 'expense' ? '-' : '+' }}
              {{ item.value | currency:'BRL':'symbol':'1.2-2' }}
            </div>
          </div>
        </ng-container>

      </div>
    </section>
  </main>
</div>
